body {
    
}

.goat {
    float: left;
    background-color: red;
    width: 300px;
    height: 750px;
    margin: 75px;

}

.sheep {
    float: left;
    background-color: blue;
    width: 300px;
    height: 750px;
    margin: 75px;
}

.pig {
    float: left;
    background-color: green;
    width: 300px;
    height: 750px;
    margin: 75px;

}